.markdown-here-wrapper {
  font-size: 16px;
  line-height: 30px;
  font-family:微软雅黑;
  letter-spacing: 1px;
 }

p{
  margin-top: 20px;
  margin-right: 16px;
  margin-bottom: 20px;
  margin-left: 16px!important;
}

h1, h2, h3{
  font-weight: bold;
}

h1 {
  font-size: 18px;
  margin: 31px 0 12px;!important;
  border-bottom: 1px solid #DDD;
  text-align:center;
}

h2 {
  font-size: 17px;
  margin: 31px 0 6px;!important;
}

h3 {
  font-size: 16px;
  margin: 31px 0 6px;!important;
}

img {
display: block;
  margin-top: 18px;margin-right: auto;margin-bottom: 0px;margin: auto; !important;
}


blockquote, q {
  border-left: 4px solid #DDD;
  color: #777;
  quotes: none;
  padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px !important;
  margin-top: 8px;margin-right: 18px;margin-bottom: 8px;margin-left: 18px !important;
}